
    <!-- _includes/labs.html -->
    <div class="grid-item">
      {% if lab.redirect -%}
      <a href="{{ lab.redirect }}">
      {%- else -%}
      <a href="{{ lab.url | relative_url }}">
      {%- endif %}
        <div class="card hoverable">
          {%- if lab.img %}
            {%- include figure.html 
              path=lab.img 
              alt="Thumbnail" class="img-fluid rounded z-depth-0" -%}
          {%- endif %}
          <div class="card-body">
            <h2 class="card-title text-capitalize">{{ lab.title }}</h2>
            <h3 class="card-text">{{ lab.description }}</h3>
          </div>
        </div>
      </a>
    </div>