
    <!-- _includes/persons.html -->
    <div class="grid-item">
      {% if person.redirect -%}
      <a href="{{ person.redirect }}">
      {%- else -%}
      <a href="{{ person.url | relative_url }}">
      {%- endif %}
        <div class="card hoverable">
          {%- if person.img %}
            {%- include figure.html 
              path=person.img 
              alt="Portrait" class="img-fluid rounded-circle z-depth-0" -%}
          {%- endif %}
          <h2 class="card-name text-capitalize">{{ person.firstname }} {{ person.lastname }}
          {%- if person.pronouns -%}
          <span class="card-pronouns"> ({{ person.pronouns }})</span>
          {%- endif -%}
          </h2>
          <div class="card-icons icon">
            {% include social.html entity=person %}
          </div>
          <div class="card-body">
            <h4 class="card-title mt-1">{{ person.title }}</h4>
            {% assign sorted_affiliations = person.affiliations | sort %}
            {%- capture affiliation_string -%}
              {% for affiliation in sorted_affiliations %}, {{ affiliation | strip }}{% endfor %}
            {%- endcapture -%}
            <h4 class="card-text mt-1">
            {{ affiliation_string | remove_first: ', '}}
            </h4>
          </div>
        </div>
      </a>
    </div>