---
layout: parse
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="fixed-top-nav sticky-bottom-footer banner">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container">
        <div class="banner-logo">
        {%- if page.logo %}
            {%- assign logo_image_path = page.logo | prepend: 'assets/img/' -%}
            {% include figure.html 
            path=logo_image_path 
            class="img-fluid z-dept-1"
            alt=page.logo -%}
        {% endif -%}
        </div>

        <div class="banner-content clearfix">
        {{ content }}
        </div>

        {%- if page.social %}
        <!-- Social -->
        <div class="social banner-footer">
        <div class="contact-icons">
        {% include social.html entity=site %}
        </div>
        {%- endif -%}
        <div class="contact-note">
            {{ site.contact_note }}
        </div>
        </div>
    </div>

    <!-- JavaScripts -->
    <!-- {% include scripts/jquery.html %} -->
    {% include scripts/bootstrap.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
